<!DOCTYPE html>

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
  
{% endblock %}

    <footer >
      <div>
        <nav style="font-size: large;">
          <ul >
            <li class="parent-li">
              امور مشتریان
            </li>
            <br>
            <li>
              خرید از ترکیه
            </li>
            <li>
              سوالات متداول
            </li>
            <li>
              قوانین و مفررات
            </li>
            <li>شیوه های پرداخت</li>
          </ul>
          <ul>
            <li class="parent-li">
              درباره ما
            </li>
            <br>
            <li>
              تماس با ما 
            </li>
            <li>
              همکاری با ما
            </li>
            <li>
              حریم خصوصی
            </li>
            <li>
              ثبت شکایت
            </li>
          </ul>
          <ul>
            <li class="parent-li">
              راهنمای تماس
            </li>
            <br>
            <li>
              تلفن ثابت  &nbsp 08632213850
            </li>
            <li>
              تلفن همراه &nbsp  09385101617
            </li>
            <li>
              تلفن ترکیه&nbsp 05340382335&nbsp
            </li>
            <li>ایمیل &nbsp zebrashop@gmail.com</li>
          </ul>
          <ul>
          <li class="parent-li">
            شبکه های اجتماعی
          </li>
          <br>
          <li>
            اینستاگرام
          </li>
          <li>
            واتس اپ
          </li>
          <li>
           تلگرام
          </li>
          <li>اسکایپ</li>
          </ul>
        </nav>
        <br><br><br>
      </div>
      <div class="aboutus">
        <img src="{% static 'img/zebra.jpg' %}" alt="zebrashop">
        <b><p style="font-size: large;">ما در زبرا شاپ افتخار داریم که مجموعه‌ای از بهترین و باکیفیت‌ترین محصولات مرتبط با تیپ و استایل مردانه و بچگانه، لوازم آرایشی و بهداشتی را مستقیماً از استانبول ترکیه به دست شما عزیزان در ایران می‌رسانیم. در فروشگاه ما می‌توانید انواع لباس‌ها، کیف‌ها، کفش‌ها، عینک‌ها و اکسسوری‌های خاص و مدرن را پیدا کنید. هدف ما ارائه بهترین تجربه خرید آنلاین با تضمین کیفیت و ارسال سریع به تمام نقاط ایران است.</p></b>
      </div>
      <br><br><br><br><br>
      <p class="last-speech">کلیه حقوق مادی و معنوی این وب سایت متعلق به گروه زبرا شاپ می باشد</p>
    </footer>

