* {
    box-sizing: border-box;
}
body{
    font-family: "vazir";
    
  }
  @font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff2') format('woff2'),
         url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Bold.woff2') format('woff2'),
         url('../fonts/Vazir-Bold.woff') format('woff'),
         url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Black.eot');
    src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Black.woff2') format('woff2'),
         url('../fonts/Vazir-Black.woff') format('woff'),
         url('../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Medium.woff2') format('woff2'),
         url('../fonts/Vazir-Medium.woff') format('woff'),
         url('../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Light.eot');
    src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Light.woff2') format('woff2'),
         url('../fonts/Vazir-Light.woff') format('woff'),
         url('../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Thin.eot');
    src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Thin.woff2') format('woff2'),
         url('../fonts/Vazir-Thin.woff') format('woff'),
         url('../fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
.aboutus{
    flex-direction: row;
    float: inline-start;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0%;
    border: 10px;
    border-color: black;
    
}
img{
    float: inline-start;
    height: 100px;
    width: 100px;
}


.parent-li{
    font-size: xx-large;
}

nav{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    
    
}
ul{
    margin-left: 50px;
    list-style-type: none;
    
}

li{
    line-height: 20px;
}
li:hover{
    color: chocolate;
}

.container-last-speech{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-right: 100px;
  height: 70px;
  background-color:darkslategray ;
  margin-bottom: 0%;
}


.last-speech{

    font-size: large;
}