<!DOCTYPE html>
{% extends "home/parent/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/mardane.css' %}">
{% endblock head %}
{% block title %}
    مردانه
{% endblock title %}
{% block content %}
  <div class="mardane_header_container">
    <img class="mardane_header_img" src="{% static 'img/mardane-img.jpg' %}" alt="kharid-img">
    <div class="mardane_header_child">
        <h3 class="mardane_header_h3" ><div>مشتری گرامی برای ثبت سفارش سایر برند ها شما میتوانید </div><div> درخواست  خود را از طریق واتس اپ ثبت نمایید</div></h3>
    </div>
  </div>
  <br><br><br><br><br><br><br>
  <div class="mardane_menu_container">
    <div>
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="img2">
    <h4 > zara jeans</h4>
    </div>
    <div>
    <img class="mardane_menu_img" src="{% static 'img/img3.jpg' %}" alt="img3">
    <h4 > zara jeans</h4>
    </div>
    <div>
    <img class="mardane_menu_img" src="{% static 'img/img4.jpg' %}" alt="img4">
    <h4 > zara jeans</h4>
    </div>
    <div>
    <img class="mardane_menu_img"  src="{% static 'img/img5.jpg' %}" alt="img5">
    <h4 > zara jeans</h4>
    </div>
    <img class="mardane_menu_img" src="{% static 'img/img6.jpg' %}" alt="img6">
    <img class="mardane_menu_img" src="{% static 'img/img7.jpg' %}" alt="img7">
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="">
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="">
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="">
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="">
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="">
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="">
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="">
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="">
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="">
    <img class="mardane_menu_img" src="{% static 'img/img2.jpg' %}" alt="">
  </div>
  
{% endblock content %}