<!DOCTYPE html>
{% extends "home/parent/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/shiveh_pardakht.css' %}">
{% endblock head %}
{% block title %}
    شیوه پرداخت
{% endblock title %}

{% block content %}
    <div class="shiveh_header">
        <h3>شیوه های پرداخت</h3>
    </div>
    <br><br>
    <h4 class="shiveh_text_header">زبرا شاپ جهت رفاه مشتریان خود روش‌های متعددی را برای پرداخت هزینه و نهایی کردن خرید برای کاربران فراهم کرده است ، کاربران با هر یک از روش‌های که تمایل داشته باشند می‌توانند هزینه خرید خود را پرداخت کرده و پس از پرداخت موفق و ثبت در سامانه زبرا شاپ ، سفارش تکمیل و مراحل آماده سازی و ارسال به مشتری انجام می گیرد.
    </h4>
    <h3 class="pardakht_online">پرداخت آنلاین</h3>
    <br>
    <h4 class="shiveh_text_header" >کاربران وبسایت فروشگاه اینترنتی زبرا شاپ می‌توانند در هنگام نهایی کردن خرید  برای پرداخت هزینه خرید از گزینه پرداخت آنلاین استفاده کنند. در حال حاضر درگاه‌ پرداخت الکترونیکی بر روی سایت قرار داده شده و تمامی دارندگان کارت‌های بانکی عضو شبکه شتاب از تمام بانک‌ها می‌توانند با استفاده از این درگاه‌ها خرید خود را نهایی کنند. پس از انتخاب پرداخت آنلاین ، کاربر به صفحه درگاه اینترنتی بانک رفته و با وارد کردن اطلاعات حساب خود، هزینه را پرداخت می‌کند. لازم به توضیح است که در صورت تراکنش موفق کاربر به‌طور خودکار به سایت زبرا شاپ بازگشته و خرید او در سامانه ثبت می‌شود. در صورت بروز هرگونه مشکل در پرداخت اینترنتی وجه پرداختی به‌طور خودکار توسط بانک ظرف مدت 72 ساعت به حساب مبدا ارجاع داده خواهد شد. در غیر این‌صورت می‌توانید با در اختیار داشتن اطلاعات پرداخت ناموفق مراتب را از پشتیبانی بانک مذکور پیگیری کنید.</h4>
    <br><br>
    <h3 class="pardakht_online">پرداخت از طریق کارت بانکی</h3>
    <br>
    <h4 class="shiveh_text_header">کاربران وبسایت فروشگاه اینترنتی زبرا شاپ در صورت انتخاب گزینه کارت به کارت می‌توانند هزینه خرید خود را به کارت زیر واریز کرده و سپس با استفاده از این صفحه اطلاعات فیش پرداختی را برای کارشناسان پشتیبانی زبرا شاپ ارسال کنند. پس از تایید پرداخت توسط کارشناس ، کالای خریداری شده در نوبت تحویل قرار خواهد گرفت لازم به توضیح است که با توجه به قوانین بانکی کشور این روش تنها برای خریدهای تا سقف سه میلیون تومان امکان‌پذیر است.</h4>
    <br>
    <table class="shiveh_table">
        <tr>
            <th>نام بانک</th>
            <th>نام دارنده حساب</th>
            <th>شماره کارت</th>
        </tr>
        <tr>
            <td>بانک ملی</td>
            <td>امیر آشوری</td>
            <td>6037-9971-2283-0863</td>
        </tr>
    </table>
    
    <h3 class="pardakht_online">پرداخت از طریق حساب بانکی</h3>
    <h4 class="shiveh_text_header">کاربران وبسایت فروشگاه اینترنتی زبرا شاپ می‌توانند در هنگام تایید سفارش از گزینه واریز به حساب استفاده کنند. در این روش لازم است کاربر با مراجعه به بانک مجموع هزینه خرید خود را به حساب درج شده واریز کند و با استفاده از این صفحه اطلاعات پرداخت خود را برای کارشناسان پشتیبانی زبرا شاپ ارسال کنند. پس از تایید پرداخت از این روش توسط کارشناس کالای خریداری شده در نوبت تحویل قرار خواهد گرفت.</h4>
    
    <table class="shiveh_table">
        <tr>
            <th>نام بانک</th>
            <th>نام دارنده حساب</th>
            <th>شماره حساب</th>
            <th>شماره شبا</th>
        </tr>
        <tr>
            <td>بانک ملی</td>
            <td>امیر آشوری</td>
            <td>0106580586007</td>
            <td>IR550170000000106580586007</td>
        </tr>
    </table>
    
    <h3 class="pardakht_online">نکات قابل توجه</h3>
    <h4 class="shiveh_text_header">مشتریان محترم زبرا شاپ پس از پرداخت از طریق کارت به کارت یا پرداخت از طریق حساب بانکی جهت پیگیری و ثبت مبلغ پرداختی حتما اطلاعات فیش پرداختی واریز شده را به شماره 09198070250 برای ما در اپلیکیشن تلگرام و یا واتس آپ ارسال نمائید و یا با شماره‌ی دفتر 28425028 تماس حاصل فرمایید تا کالای خریداری شده تکمیل و برای ارسال آماده گردد. در صورتی که پرداخت سفارش از طریق اینترنتی پرداخت شده باشد تحویل گیرنده سفارش هنگام دریافت کالا باید کارت شناسایی معتبر مانند کارت ملی همراه داشته باشد.</h4>
{% endblock content %}