<!DOCTYPE html>
{% extends "home/parent/base.html" %}
{% load static %}
{% block head %}
    
    <link rel="stylesheet" href="{% static 'css/soalat_motadavel.css' %}">
{% endblock head %}

{% block title %}
        درباره ما
{% endblock %}

{% block content %}
    
    <div class="soalat_motadavel_header">
        <h2>
            سوالات متداول
        </h2>
    </div>
    <br><br>
    <div class="">
        <h3 class="h3_soalat_motadavel">
            چقدر طول می کشد کالا پس از ثبت سفارش برای من ارسال شود؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            از زمان دریافت کالا توسط کیالوکس در دفتر ترکیه، زمان تقریبی ارسال به ایران 10 الی 15 روز کاری و سفارشات کفش 15 الی 25 روز کاری خواهد بود و سفارش شما پس از کنترل نهایی در تهران برای مشتریان تهران از طریق پیک و برای مشتریان شهرستان از طریق پست به آدرس ثبت شده در سایت ارسال خواهد شد و هزینه مربوطه به عهده خریدار می باشد.

 
        </h4>
    </div>
    <div>
        <h3 class="h3_soalat_motadavel">
            نحوه محاسبه قیمت ها به چه صورت است؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            مبالغ محاسبه شده در سایت قیمت نهایی کالا نمی باشد به مبالغ فوق هزینه باربری، هزینه پیک و یا پست اضافه خواهد شد، هزینه باربری برای هر صد گرم مبلغ 38/000 تومان می باشد که کالا خریداری شده در ایران بر اساس وزن واقعی محاسبه شده و به مشتری جهت واریز اطلاع داده خواهد شد و مشتری موظف به پرداخت مبلغ اعلام شده به فروشگاه کیالوکس طی دو روز کاری خواهد بود.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            هزینه ارسال کالا برای تهران و شهرستان چگونه است؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            سفارش شما پس از کنترل نهایی در تهران برای مشتریان تهران از طریق پیک و برای مشتریان شهرستان از طریق پست به آدرس ثبت شده در سایت ارسال خواهد شد و هزینه مربوطه به عهده خریدار می باشد.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            چه کالاهایی شامل هزینه باربری و حمل از ترکیه به ایران می باشند ؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            کلیه سفارشات شامل هزینه باربری می باشد، هزینه باربری برای هر صد گرم مبلغ 38/000 تومان می باشد که کالا خریداری شده در ایران بر اساس وزن واقعی محاسبه شده و به مشتری جهت واریز اطلاع داده خواهد شد و مشتری موظف به پرداخت مبلغ اعلام شده به فروشگاه کیالوکس طی دو روز کاری خواهد بود.
        </h4>
    </div>

    <div>
        <h3  class="h3_soalat_motadavel" >
            اگر من محصولی را از فروشگاه کیالوکس خریداری کنم و آن محصول در سایت ترندیول ، زارا ، منگو ، ماسیمو دوتی و... به اتمام رسیده باشد ، مراحل کار و بازگشت وجه به چه صورت می باشد ؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            در بعضی اوقات محصولاتی که دارای تخفیف زیاد هستند و یا دارای سایز بندی ناقص و یا اینکه تعداد کمی از آن محصول برای فروش گذاشته شده ، ممکن است در فاصله زمانی بسیار کوتاه به اتمام برسد که در این صورت کارشناسان پشتیبانی کیالوکس در زمان بررسی کالا و قبل از خرید کالا به اطلاع مشتری می رسانند و وجه پرداخت شده به حساب مشتری در کمترین زمان ممکن عودت داده می شود.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            آیا کالای خریداری شده با جعبه ارسال می شود ؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            کلیه سفارشات بجز عطر و آرایشی بدون جعبه به ایران ارسال خواهد شد.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            آیا امکان دریافت سفارش به صورت حضوری در دفتر کیالوکس وجود دارد؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            خیر، امکان تحویل سفارش به صورت حضوری به هیچ عنوان وجود ندارد.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            آیا کیفیت و متریال کالای خریداری شده بعهده فروشگاه کیالوکس می باشد ؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            فروشگاه کیالوکس فقط یک واسط خرید برای مشتریان می باشد و کیفیت و متریال کالا بعهده تولید کننده کالا می باشد.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            آیا امکان تغییر آدرس وجود دارد؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            در صورت تغییر آدرس تا دو روز پس از ثبت سفارش می توانید با پشتیبانی کیالوکس تماس بگیرید.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            منظور از ارسال اکسپرس که در بعضی از کالاها این امکان را فراهم نموده اید چیست؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            فقط در بعضی از کالاها امکان ارسال اکسپرس وجود دارد که به قیمت کالا و نوع پرداخت بستگی دارد و در قسمت توضیحات آن کالا ذکر شده است. با کلیک بر روی آن میتوانید به صفحه مدنظر وارد شده و شرایط آن را کاملا مطالعه نمایید.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            اگر من تماس بگیرم و درخواست ارسال سریع داشته باشم امکان پذیر است؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            متاسفانه امکان انتخاب نوع ارسال وجود ندارد. فقط در بعضی از کالا ها امکان ارسال اکسپرس وجود دارد که در قسمت توضیحات آن کالا ذکر شده است.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            من سفارش خود را تحویل گرفتم و برگه تحویل آن را نیز امضا کردم اما متوجه شدم که از آن رضایت کامل ندارم  آیا می توانم درخواست تعویض کالای خود را داشته باشم؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            خیر متأسفانه طبق شرایط و ضوابط کیالوکس تعویض و یا بازپس‌گرفتن کالا امکان‌پذیر نیست خواهش می‌کنیم به این نکته توجه داشته باشید که شما با امضای برگه تحویل کالا سفارش خود را با رضایت کامل پذیرفته‌اید.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            تحت چه شرایطی می توان کالای خریداری شده رو برگرداند؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            تمام سفارشات قبل از ارسال و تحویل به مشتری از نظر مشکلات کاملا چک می شوند ، با این وجود در صورت مشاهده چنین مشکلاتی  سفارش شما مرجوع  و بدون هیچ قید و شرطی وجه پرداختی به شما برگردانده خواهد شد.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            در روزهای تعطیل رسمی آیا امکان سرویس و پاسخگویی وجود دارد؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            روزهای تعطیل رسمی و عید نوروز کیالوکس هیچ‌گونه پاسخگویی ، سرویس‌دهی و خدماتی ندارد.
        </h4>
    </div>

    <div>
        <h3 class="h3_soalat_motadavel">
            در شرایط ویژه مانند جشنواره‌ها یا روزهای شلوغ و پرازدحام مانند اسفند ماه آیا زمان ارسال سفارش متفاوت است؟
        </h3>
        <h4 class="h4_soalat_motadavel">
            در روزهای عادی سفارش‌ طبق رویه‌های بالا ارسال می‌شود اما در شرایط ویژه مانند جشنواره‌ها یا روزهای شلوغ و پرازدحام برحسب روش و محل دریافت سفارش زمان ارسال متفاوت است و ممکن است کمی با تاخیر انجام شود.
        </h4>
    </div>
{% endblock content %}
