<!DOCTYPE html>
{% extends "home/parent/base.html" %}
{% load static %}

{% block head %}
  <title>tarefe_barbary</title>
  <link rel="stylesheet" href="{% static 'css/tarefe_barbary.css' %}">
{% endblock head %}

{% block content %}
<div class="header" >
  <h1 >تعرفه هزینه های باربری </h1>
</div>
<div class="img_tarefe">
  <img class="img" src="{% static 'img/tarefe.jpg' %}" alt="tarefe_barbary" >
</div>

<div>
  <table class="table">
    <tr>
      <th>
        ردیف
      </th>
      <th style="width: 20%;">
        عنوان
      </th>
      <th style="width: 70%;">
        توضیحات
      </th>
    </tr>
    <tr>
      <td>
        1
      </td>
      <td>
        لباس و پوشاک
      </td>
      <td>
        لباس کیلویی 380/000 تومان هر صد گرم معادل 38/000 تومان
      </td>
    </tr>
    <tr>
      <td>
        2
      </td>
      <td>
        کفش و کتونی
      </td>
      <td>
        کفش و کتونی 380/000 تومان هر صد گرم معادل 38/000 تومان
      </td>
    </tr>
  
  <tr>
    <td>
      3
    </td>
    <td>
      کیف
    </td>
    <td>
      کیف کیلویی 380/000 تومان هر صد گرم معادل 38/000 تومان
    </td>
  </tr>

<tr>
  <td>
    4
  </td>
  <td>
    آرایشی و عطر
  </td>
  <td>
    آرایشی و عطر کیلویی 400/000 تومان هر صد گرم معادل 40/000 تومان
  </td>
</tr>

<tr>
  <td>
    5
  </td>
  <td>
    ساعت، عینک، زیورآلات
  </td>
  <td>
    ساعت، عینک، زیورآلات کم ارزش هر عدد 100/000 تومان، در صورت گران بودن بر اساس ارزش قیمت کالا محاسبه خواهد شد
  </td>
</tr>

<tr>
  <td>
    6
  </td>
  <td>
    لوازم حساس و شکننده
  </td>
  <td>
    لوازم حساس و شکننده کیلویی 450/000 تومان هر صد گرم معادل 45/000 تومان
  </td>
</tr>

<tr>
  <td>
    7
  </td>
  <td>
    کرایه پیک
  </td>
  <td>
    مبلغ 110/000 تومان الی 180/000 تومان (امکان اضافه شدن به این مبلغ بر اساس مسافت آدرس وجود دارد)
  </td>
</tr>
<tr>
  <td>
    8
  </td>
  <td>
    کرایه پست
  </td>
  <td>
    مبلغ 120/000 تومان الی 250/000 تومان (امکان اضافه شدن به این مبلغ بر اساس مسافت آدرس و وزن وجود دارد)
  </td>
</tr>
<tr>
  <td>
    9
  </td>
  <td>
    کالاهای خاص
  </td>
  <td>
    با پشتیبانی فروشگاه هماهنگ شود
  </td>
</tr>
  </table>
</div>
{% endblock content %}